/* Create Angular Material Theme */
@import "../node_modules/@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-blue, 800, 600 ,800);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$warn:    mat-palette($mat-red, A200, A400, A700);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

@mixin size($size) {
    width: $size;
    height: $size;
}

html, header, body {
    @include size(100%);
    margin: 0;
    padding: 0;
    position: absolute;
}

app-home {
    position: absolute;
    @include size(100%);

    app-header {
        position: absolute;
        top: 0;
    }

    .m-block {
        position: absolute;
        width: 100%;
        height: 90%;
        overflow-y: auto;
        top: 10%;

        .footer {
            position: absolute;
            bottom: 0;
        }
    }
}

app-header {
    width: 100%;
}